.featured__add-to-cart {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.featured__add-to-cart input {
  width: 60px;
  flex-shrink: 0;
  display: block;
  text-align: center;
  font-size: 20px;
}

.featured__add-to-cart button {
  flex-grow: 1;
  display: block;
  font-size: 16px;
  font-weight: normal;
  padding: 5px;
}

.featured__add-to-cart i {
  margin-right: 10px;
}

body .header__cart ul li a span {
  width: auto;
  height: auto;
  right: auto;
  left: 100%;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: normal;
}

body .header__cart ul li a i {
  font-size: 20px;
}

.shoping__cart__quantity .pro-qty {
  display: flex;
  margin: auto;
  width: 170px !important;
  height: 50px !important;
}

.shoping__cart__quantity .pro-qty input {
  font-size: 20px;
  width: 70px;
}
.shoping__cart__quantity .pro-qty button {
  flex-grow: 1;
}
.shoping__cart__quantity .pro-qty button[disabled] {
  background: #ccc;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon_loading {
  display: block;
  animation: rotating 2s linear infinite;
}

.shoping__cart__quantity .pro-qty {
  /* animation: rotating 2s linear infinite; */
}

.shoping__cart__row {
}
.shoping__cart__row.deleting {
  opacity: 0.6;
}
